@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-dark: #ffffff;
  --bg-light: #f8f9fa;
  --bg-input: #ffffff;
  --bg-workspace: #f8f9fa;
  --border: #dee2e6;
  --text-editor-base: #6c757d;
  --text-editor-active: #495057;
  --bg-editor-sidebar: #f8f9fa;
  --bg-editor-active: #e9ecef;
  --border-editor-sidebar: #dee2e6;
  background-color: var(--base) !important;
  --bg-neutral-muted: #6c757d33;
}

body {
  margin: 0;
  font-family:
    -apple-system, "SF Pro", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #f8f9fa;
  border-radius: 4px;
  color: #495057;
  border: 1px solid #dee2e6;
  letter-spacing: -0.2px;
}

.markdown-body pre code {
  padding: 0;
  background-color: inherit;
}

.markdown-body {
  white-space: pre-wrap; /* Handles line breaks */
}

.markdown-body th {
  text-align: left;
}

.markdown-body th,
.markdown-body td {
  padding: 0.1rem 1rem;
}

/* Fast smooth scrolling for chat interface */
.fast-smooth-scroll {
  scroll-behavior: smooth;
  scroll-timeline: 100ms;
}
